<h1> Welcome on man on a mission</h1>

<div id="profils">
<% @mans.each do |profil| %>
        <p><%= profil.full_name %></p>
        <p><%= profil.price %> €/Jour</p>
        <p><%= profil.lang %></p>
        <p><%= profil.nationality %> </p>

<% end %>
</div>

